default:
  ploidy               : 4
  genotypeFile         : "/home/lg/agrosavia/GWAS-TOOL/development/tests/jmultiGWAS/example-genotype-tetra.csv"
  phenotypeFile        : "/home/lg/agrosavia/GWAS-TOOL/development/tests/jmultiGWAS/example-phenotype.csv"
  genotypeFormat       : "GWASpoly"
  mapFile              : ""
  significanceLevel    : 0.05
  correctionMethod     : "Bonferroni"
  gwasModel            : Full
  nBest                : 10
  filtering            : TRUE
  MAF                  : 0.01
  MIND                 : 0.1
  GENO                 : 0.1
  HWE                  : 1e-10
  #tools                : "GWASpoly PLINK"
  tools                : "GWASpoly SHEsis PLINK TASSEL "
  geneAction           : "all"
