default:
 ploidy            : 4

 genotypeFile      : /home/lg/agrosavia/GWAS-TOOL/multiGWAS-dev/examples/tmp/example-genotype-tetra-gwaspoly-ACGT.csv
 phenotypeFile     : /home/lg/agrosavia/GWAS-TOOL/multiGWAS-dev/examples/tmp/pheno/example-phenotype-single-trait.csv
 genotypeFormat    : gwaspoly
 mapFile           : NULL

 significanceLevel : 0.05
 correctionMethod  : Bonferroni     
 gwasModel         : Full
 nBest             : 10

 filtering         : TRUE
 MAF               : 0.01   #0.001    
 MIND              : 0.1    #0.5      
 GENO              : 0.1    #0.5      
 HWE               : 1e-10  #1e-50    

 tools             : GWASpoly
 #tools             : GWASpoly SHEsis PLINK TASSEL

 geneAction       : additive
